.everything
	%nav.top-bar{"data-topbar" => ""}
		%section.top-bar-section
			/ Right Nav Section
			%ul.right
				%li
					%a{href: "#"}
						Logged in as 
						= current_user.name

				%li
					%a{href: logout_path} Logout
					
			
	.row
		.small-6.columns
		.small-6.columns
			%h3 Highly Religious Figures
			%table 
				%thead
					%th Name
					%th Converted Pastafarian?
					%th Has that changed?
					%th Shun the nonbeliever!
				%tbody
				-@figures.each do |f|
					%tr
						%td= f.name
						%td= f.converted_pastafarian
						%td
							= link_to "Convert", { action: "convert", id: f.id}, class: "button tiny success", method: :patch
							
						%td
							= link_to "SHUN", { action: "destroy", id: f.id}, class: "button tiny alert", method: :delete
							/ %a.button.tiny.alert
							/ 	SHUN
							

