.row
	.small-12.columns
		= image_tag('flying_spaghetti.jpg')
		.overlay
			.row
				.small-6.small-centered.columns
					.modal
						= form_tag sessions_path do
							.row
								.small-11.columns
								.small-1.columns
									%a.close-reveal-modal ×
							.row
								.small-9.small-centered.columns
									= label_tag :email, nil
									= text_field_tag :email, params[:email]
									%br

									= label_tag :password, nil
									= password_field_tag :password, nil
									%br
									= submit_tag "Login"
.row
	.small-7.columns
		%h1
			Welcome to the church of the 
	.small-5.columns.fsm
		%h1
			Flying Spaghetti Monster!
.row		
	.small-9.small-centered.columns		
		%h5 If you're new here, Please register and bask in the glory of his noodleness
.row

	.small-2.columns		 
		%a.button.signup{href: new_user_path} SignUp!
	.small-2.columns
		#login.button Login!
	.small-6.columns.end
		%p.ps p.s. click on the "Flying Spaghetti Monster" words
		
